.skillsbox{
    width: 85vw;
    height: 45vw;
    border: #8B7E6E solid 2px;
    border-radius: 8px;
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #8b7e6e73;
}
.skills{
    font-family: 'Playfair Display', serif;
    padding-left: 3vw;
    font-size: 1.75vw;
    color: white;
    line-height: 1.2;
    text-align: center;
    padding-top: 1vw;
}
.videobox{
    width: 85vw;
    height: 30vw;
    border: #8B7E6E solid 2px;
    border-radius: 8px;
    margin-left: 65px;
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: #8b7e6e73;
}
.video{
    padding-left: 25vw;
    padding-top: 1.5vw;
}