*{
box-sizing: border-box;
}
.fa-brands{
    font-size: 64px;
    padding: 30px;
    background-color: #E1EBE2;
    color: #7497A3;
    text-shadow: -1px 0 black, 0 1 px black, 1 0px black, 0 -1px black ;
    border-radius: 25%;
}
.longbox{
    width: 93vw;
    height: 10vw;
    border: #8B7E6E solid 2px;
    font-size: 3vw;
    border-radius: 8px;
    /* margin-left: 25px; */
    background-color: #BED6DA;
}
nav a{
    width: 100px;
    padding: 25px 75px;
    text-decoration: none;
    color: #8B7E6E;
    text-align: center;
    margin-left: 35px;
    font-family: 'Sacramento', cursive;
}
nav a:hover{
    background-color: #E1EBE2;
    transition: .05s;
}
.navul{
    padding: 0;
    list-style: none;
    width: 70vw;
    margin: auto;
    margin-top: 28px;
}
.navul > li{
    display: inline-block;
}
.longboxfoot{
    width: 93vw;
    height: 45vh;
    border: #8B7E6E solid 2px;
    /* font-size: 45px; */
    border-radius: 8px;
    margin: 2px;
    /* background-color: rgb(190, 214, 218); */
    margin-left: 25px;
    clear: both;
    /* margin-top: 2px; */
    background-image: linear-gradient(to bottom, rgba(190,214,218,1), rgba(190,214,218,.25))
}
.shortbox{
    width: 45vw;
    height: 30vw;
    border: #8B7E6E solid 2px;
    border-radius: 8px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.floatleft{
    float: left;
}
.logo{
    position: sticky;
    top: 0;
}
.hanger{
    max-width: 8%;
    max-height: 8%;
    transform: scale(10);
    float: left; 
    margin-left: 155px;
    margin-top: 175px;
}
.hdesc{
    font-family: 'Playfair Display', serif;
    text-align: right;
    font-size: 2vw;
    padding-right: 25px;
    color: #7497A3;
    padding-top: 30px;
}
.footlist{
    font-family: 'Playfair Display', serif;
    /* display: list-item; */
    color: #585046;
    /* font-size: large; */
}
footer ul{
    display: inline-block;
    width: 25vw;
    padding-left: 1.5vw;
    list-style: none;
    margin: auto;
    font-size: 22px;
    /* padding-top: 1.5vw; */
}
/* .column2{
    position: relative;
    bottom: 35px;
} */
/* footer ul li{
    margin-bottom: 1vw;
} */
footer a{
    text-decoration: none;
    color: #8B7E6E; 
    /* font-size: large;  */
}

.jj{
    height: 240px; 
    width: 160px;
    /* max-width: 10%;*/
    /* max-height: 10%;*/
    /* transform: scale(9);*/
    /* float: left;  */
    /* margin-left: 55px;*/
    /* margin-top: 145px; */
}
.footbox{
    /* border: 1px solid red; */
    width: 25%;
    margin-top: 35px;
}
.footboxl{
    width: 25%;
    margin-top: 3px;
}
.igjj{
    /* position: relative; */
    top: 5px;
    margin-left: 65px;
}

.icons{
    padding-left: 52px;
}